
ul {
    padding: 0px !important;
    margin: 0px !important;
    list-style: none;
}
a{
    text-decoration: none !important;
}
#top-nav {
    margin-top: 2px;
    background-color: #f1f1f1;
    box-shadow: inset 2px 2px 20px 1px #5399ff;

    ul {
        list-style: none;
        display: flex;



        li {


            a {
                color: #0011d7;
                text-decoration: none;
                display: block;
               width: fit-content;
               padding: 8px 10px;
                i{
                    margin-right: 3px;
                }
            }

            &:hover {
                background-color: #333;

                opacity: 0.5;

                a {
                    color: #fff;
                }
            }


        }
    }

}

.active {
    background-color: #5399ff !important;
    color: #fff !important;
  

    h1,
    h2,
    h3,
    a {
        color: #fff !important;
        text-decoration: none;
    }
}



.table-cute {
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #001d48;
    thead{
        tr{
            background-color: #001d48;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }
        th{
            text-align: center;
            padding: 10px;
            border-left: 1px solid #dbdbdb;
        }
    }
    tbody  {
        tr {
            padding: 10px;
            border-bottom: 1px solid #dbdbdb;
            color: #fff;
            &:nth-child(even) {
                background-color:  #678abe;
            }
    
            &:nth-child(odd) {
                background-color:   #19468a;
            }
    
            td {
                text-align: center;
                padding: 10px;
                border-left: 1px solid #dbdbdb;
                width: fit-content;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
           
        }
    }
}

.element{
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    background-position: center center;
    font-size: 0px;
    background-repeat: no-repeat;
}

.weap-type{
    // background-color: #fff;
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    background-position: center center ;
    font-size: 0px;
    background-repeat: no-repeat;

}


.btn-toggle{
    border: 0;
    background-color: transparent;
    color: #333;
    font-size: 16px;
}
#left-nav{
    width: 100%;
   
    background-color: #f1f1f1;
    box-shadow: inset 2px 2px 20px 1px #5399ff;
    
    z-index: 1;
    ul{
        li{
            width: fit-content;
            a{
                display: block;
                padding: 18px;
                width: fit-content;

                i{
                    margin-right: 5px;
                    font-size: 12px;
                    font-weight: bold;
                    
                }
                white-space: nowrap;
                &:not(i){
                    font-size: 14px;
                    overflow: hidden;
                }
            }
            &:first-child{
                width: fit-content;
            }
        }

    }
}

#toggle-nav{
    position: fixed;
    left:0px;
    top: 60px;
    min-width: 150px;
    max-width: 250px;
    min-height: 100%;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 0px 3px 1px #333;
    overflow: hidden;
    ul{
        li{
            padding: 10px 5px;
            width: 100%;
            
            i{
                margin-right: 5px;
                font-size: 16px;
                
            }
            a{
                padding: 10px;
                
            }
        }
    }
}

.reds{
    color: red;
    border: 1px solid red;
}
.greens{
    color: green;
    border: 1px solid green;
}

.count-down{
    font-size: 32pt;
    text-align: center;

   
}
.count-msg{
    text-align: center;
    font-size: 16pt;
    border-radius: 5px;
}